body {
    /*background-color: lightgray;*/
    background: url('background.jpg');
    background-size: 100%;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    /*background-color: #743b1e;*/
    background-color: #0462bb;
}

.menu img {
    height: 1em;
}

/*Spielzeit*/
#count_up_timer {
    font-size: 25px;
    font-weight: bold;
	color: #0462bb;
}

#break_count_up_timer {
    background-color: #0462bb;
	color:white;
}

.fa-clock {
    font-size: 30px;
    color: #0462bb;
}

.time-container {
    text-align: right;
    margin-right: 20px;
    border-radius: 80%;
}

.button {
    border-radius: 12px;
}

/*Geldstand*/
.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px 20px; 
    color: #0462bb; 
    font-size: 25px;
    font-weight: bold;
}

.counter-opponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 10px 0px; 
    color: red; 
    font-size: 25px;
    font-weight: bold;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px 5px 5px 0px;
    color: #0462bb;
    font-size: 30px;
    font-weight: bold;
    border: none;
}

.fa-dollar-sign {
    font-size: 30px;
    color: red;
    margin-top: 20px;
}

.fa-sack-dollar {
    font-size: 30px;
    color: #0462bb;
    margin-top: 20px;
}

/*Hauptlogo*/
.projectlogo {
    margin-top: 0px;
}

#field {
    height: 650px;
    width: 650px;
}

.card{
    background: white;
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    visibility: hidden;
}

.card .cont{
    width: 85%;
    height: 85%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .cont .title{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.card .cont #rent{
    margin-top: 10px;
    text-align: left;
    align-content: left;
}

.card .cont .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#community_chance_parent {
    position: relative;
    top: 0;
    left: 0;
}

#community_chest {
    position: relative;
    top: 0;
    left: 0;
}
 
#chance_questionmark {
    position: absolute;
    top: 0;
    left: 0;
}

 

#taken_card_content {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    font-weight: bold;
    width: 100%;
    font-size: larger;
    margin: 0px 0px 20px 5px;
}


/*Für Anzeige, wer dran ist*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #3170b3;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  

  #show_offer_wuensche, #show_offer_angebote {
    float: left;
    width: 800px;
    height: 200px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 50px;
    padding: 10px;
    border: 0px solid black;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

#decision {
    margin-top: 500px; 
    border-radius: 5px; 
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

#offer_angebote_streets, #offer_wuensche_streets {
    width: 630px;
    height: 180px;
}

#angebote, #wuensche {
    float: left;
    width: 800px;
    height: 200px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 50px;
    padding: 10px;
    border: 0px solid black;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

#angebote_drop, #wuensche_drop {
    width: 630px;
    height: 180px;
}

body {
    background-color: lightgray;
}

.slidecontainer {
    width: 30%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    margin-top:5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #3170b3;
    cursor: pointer;

}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #3170b3;
    cursor: pointer;
}


#show_acception {
    float: right;
    vertical-align: bottom;
    border-radius: 5px;
    height: 100px;
    width: 300px;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
}

#own_username, #opponent_username, #free_cards {
    color: white;
}

